streamlit
Flask 
Flask-SQLAlchemy
numpy
pandas
matplotlib
scikit-learn
scipy
openpyxl
openai
google-auth-oauthlib
flask
requests-oauthlib
transcriber
llm
weather
tts
pc_command 
dotenv
SpeechRecognition
PyAudio
pydub
tensorflow
h5py